section.footer(flex="90")
	.footer-content
		.navegacion
			.botones
				md-button(ui-sref="nosotros") NOSOTROS
				md-button(ui-sref="servicios") SERVICIOS
				md-button(ui-sref="proyectos") PROYECTOS				
				md-button(ui-sref="trabajadores") EQUIPO
				md-button(ui-sref="contacto") CONTACTO
			.derechos
				p 2018 Consorcio Jessem todos los derechos reservados
		.forma-contactos
			md-icon mail
			p(style="margin-right: 20px;") arq. jocelyn.chavez@jessem.com.mx
			md-icon phone
			p (229) 286 20 03
			
