section.footer(flex="90")
	.footer-content
		.navegacion
			.botones
				md-button NOSOTROS
				md-button SERVICIOS
				md-button PROYECTOS				
				md-button EQUIPO
				md-button CONTACTO
			.derechos
				p 2018 Consorcio Jessem todos los derechos reservados
		.forma-contactos
			md-icon mail
			p(style="margin-right: 20px;") arq. jocelynjchn@outlook.com
			md-icon phone
			p (229) 286 20 03
			