.nav(ng-class="{'azul': $state.includes('contacto')}")
	.nav-content
		.logo(ui-sref="home")
			img(src="img/logo.png")
		.menu
			md-button(ui-sref="nosotros") NOSOTROS
			md-button(ui-sref="servicios") SERVICIOS
			md-button(ui-sref="proyectos") PROYECTOS
			md-button(ui-sref="contacto") CONTACTO
			