md-dialog
	md-toolbar
		.md-toolbar-tools
			h4 Nuevo Subservicio
			span(flex)
			md-button(ng-click="close()")
				md-icon clear
	form.md-padding(layout="row" ng-submit="submit(subservicio)")
		md-input-container(flex)
			label Nombre del Subservicio
			input(ng-model="subservicio.nombre" required)
		md-button.md-raised(type="submit")
			md-icon save

