mobile = "(max-width: 800px)"

md-grid-list
	md-grid-tile
		background-repeat no-repeat
		background-size cover
		background-position center

.croppie-container
	max-height 200px
	.cr-boundary
		width 300px
		height 235px !important
.imagen-container
	width 100%
	height 24%
	.dropify-container
		width 96%

.md-virtual-repeat-container
	height 30%
		
.dropify-wrapper
	&.touch-fallback
		.dropify-clear
			bottom 8px !important
.descripcion-container
	text-angular
		.ta-toolbar
			display flex
			flex-direction row
			flex-wrap wrap
			.ta-button-group
				button
					md-icon 
						color #64B5F6
.servicio
	display flex
	flex-direction row
	.servicio-content
		.md-toolbar-tools
			h4
				font-size 2vw
	.DespuesEdicion
		.servicio-form
			.descripcion-container
				text-angular
					.ta-toolbar
						display flex
						flex-direction row
						flex-wrap wrap
						.ta-button-group
							button
								md-icon 
									color #64B5F6
				.titulo
					md-icon
						margin-left 0
						margin 13px
		.servicio.info
			background-color #1a57a5 !important
				

	.AntesEdicion
		h1
			font-size 2vw
		h3
			font-size 1.3vw
		.infoBasica-content
			p 
				font-size 1.3vw
				text-align justify
				

.subservicio
	display flex
	flex-direction row
	.subservicio-content
		.md-toolbar-tools
			h4
				font-size 2vw
	.DespuesEdicion
		.subservicio-form
			.descripcion-container
				text-angular
					.ta-toolbar
						display flex
						flex-direction row
						flex-wrap wrap
						.ta-button-group
							button
								md-icon 
									color #64B5F6
				.titulo
					md-icon
						margin-left 0
						margin 13px
		.subservicio.info
			background-color #1a57a5 !important
				

	.AntesEdicion
		h1
			font-size 2vw
		h3
			font-size 1.3vw
		.infoBasica-content
			p 
				font-size 1.3vw
				text-align justify
				
.proyecto
	display flex
	flex-direction row
	.proyecto-content
		.md-toolbar-tools
			h4
				font-size 2vw
	.DespuesEdicion
		.proyecto-form
			.descripcion-container
				text-angular
					.ta-toolbar
						display flex
						flex-direction row
						flex-wrap wrap
						.ta-button-group
							button
								md-icon 
									color #64B5F6
				.titulo
					md-icon
						margin-left 0
						margin 13px
		.proyecto.info
			background-color #1a57a5 !important
				

	.AntesEdicion
		h1
			font-size 2vw
		h3
			font-size 1.3vw
		.infoBasica-content
			p 
				font-size 1.3vw
				text-align justify
				

.trabajador
	display flex
	flex-direction row
	.trabajador-content
		.md-toolbar-tools
			h4
				font-size 2vw
	.DespuesEdicion
		.trabajador-form
			.descripcion-container
				text-angular
					.ta-toolbar
						display flex
						flex-direction row
						flex-wrap wrap
						.ta-button-group
							button
								md-icon 
									color #64B5F6
				.titulo
					md-icon
						margin-left 0
						margin 13px
		.trabajador.info
			background-color #1a57a5 !important
				

	.AntesEdicion
		h1
			font-size 2vw
		h3
			font-size 1.3vw
		.infoBasica-content
			p 
				font-size 1.3vw
				text-align justify