.azul {
  background-color: #0580ad !important;
}
* {
  box-sizing: border-box;
  font-family: Cabin;
}
md-grid-list md-grid-tile {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.nav .nav-content {
  display: flex;
  flex-direction: row;
}
.nav .nav-content .logo {
  width: 170px;
  height: 60px;
  cursor: pointer;
}
.nav .nav-content .logo:focus {
  outline: 0px;
}
.nav .nav-content .logo img {
  width: 100%;
  height: 100%;
}
.nav .nav-content .menu {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .nav-content .menu .md-button {
  min-width: inherit;
  min-height: inherit;
  width: 80px;
  height: 30px;
}
.nav .nav-content .menu .md-button span {
  font-size: 12px;
  color: #fff;
  font-weight: 800;
}
.footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer .footer-content .navegacion .botones .md-button {
  min-width: inherit;
  min-height: inherit;
  width: 80px;
  height: 30px;
}
.footer .footer-content .navegacion .botones .md-button span {
  font-size: 11px;
}
.footer .footer-content .navegacion .derechos {
  margin-top: 20px;
}
.footer .footer-content .navegacion .derechos p {
  font-size: 9px;
}
.footer .footer-content .forma-contactos {
  display: flex;
  flex-direction: row;
}
.footer .footer-content .forma-contactos md-icon {
  margin: 0;
  margin-top: 10px;
  font-size: inherit !important;
}
.footer .footer-content .forma-contactos p {
  margin: 0;
  margin-top: 10px;
  font-size: 11px;
}
.background-home {
  background-image: url("/img/intro.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
  position: absolute;
  top: 0;
}
.home-container {
  position: relative;
  min-height: 100vh;
}
.home-container .home-content {
  position: relative;
  margin: 10vh 7vw;
  min-height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container .home-content .titulo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container .home-content .titulo h1 {
  font-size: 80px;
  font-weight: 800;
  margin: 0;
  color: #fff;
}
.background-nosotros {
  background-image: url("/img/fondoC.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
  position: absolute;
  top: 0;
}
.nosotros-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
.nosotros-container .imagen {
  width: 70%;
  height: 100%;
}
.nosotros-container .imagen img {
  width: 100%;
  height: 100%;
}
.nosotros-container .titulo-izq {
  position: absolute;
  top: 12vh;
  left: 30vw;
}
.nosotros-container .titulo-izq h2 {
  color: #fff;
  font-size: 12px;
  font-weight: 100;
}
.nosotros-container .titulo-izq h1 {
  color: #fff;
  margin: 0;
  font-size: 60px;
  font-weight: 600;
}
.nosotros-container .nosotros-content {
  position: relative;
  margin: 10vh 10vw;
  min-height: 80vh;
  width: 80vw;
  display: flex;
  justify-content: center;
}
.nosotros-container .nosotros-content .nosotros-descripcion {
  margin-top: 8vh;
  width: 60%;
  text-align: justify;
}
.nosotros-container .nosotros-content .nosotros-descripcion p {
  color: #fff;
  font-size: 16px;
}
.background-servicios {
  background-image: url("/img/servicio.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
  position: absolute;
  top: 0;
}
.servicios-container {
  position: relative;
  min-height: 100vh;
}
.servicios-container .servicios-content {
  position: relative;
  margin: 10vh 10vw;
  min-height: 80vh;
  width: 80vw;
  display: flex;
  align-items: center;
}
.servicios-container .servicios-content .slider-content {
  width: 30%;
  height: 30%;
}
.servicios-container .servicios-content .slider-content .slider {
  width: 100%;
  height: 100%;
}
.background-proyectos {
  background-image: url("/img/fondoC.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
  position: absolute;
  top: 0;
}
.proyectos-container {
  position: relative;
  min-height: 100vh;
}
.proyectos-container .proyectos-content {
  position: relative;
  margin: 10vh 10vw;
  min-height: 80vh;
  width: 80vw;
}
.proyectos-container .proyectos-content .contenedor-pindividual {
  display: flex;
  flex-direction: row;
}
.trabajadores-container {
  position: relative;
  min-height: 100vh;
}
.trabajadores-container .trabajadores-content {
  position: relative;
  margin: 10vh 10vw;
  min-height: 80vh;
  width: 80vw;
}
.contacto-container {
  position: relative;
  min-height: 100vh;
}
.contacto-container .contacto-content {
  position: relative;
  margin: 10vh 10vw;
  min-height: 80vh;
  width: 80vw;
}
