.azul {
  background-color: #0580ad !important;
}
* {
  box-sizing: border-box;
  font-family: Cabin;
}
md-grid-list md-grid-tile {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.nav .nav-content {
  display: flex;
  flex-direction: row;
}
@media (max-width: 1024px) {
  .nav .nav-content {
    justify-content: space-between;
  }
}
.nav .nav-content .logo {
  width: 170px;
  height: 60px;
  cursor: pointer;
}
.nav .nav-content .logo:focus {
  outline: 0px;
}
.nav .nav-content .logo img {
  width: 100%;
  height: 100%;
}
.nav .nav-content .menu {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .nav .nav-content .menu {
    display: none;
  }
}
.nav .nav-content .menu .md-button {
  min-width: inherit;
  min-height: inherit;
  width: 80px;
  height: 30px;
}
.nav .nav-content .menu .md-button span {
  font-size: 12px;
  color: #fff;
  font-weight: 800;
}
.nav .nav-content .menu-pequeno {
  display: none;
}
@media (max-width: 1024px) {
  .nav .nav-content .menu-pequeno {
    display: block;
  }
}
.menu-chiquito {
  display: none;
}
@media (max-width: 1024px) {
  .menu-chiquito {
    display: block;
    justify-content: center;
    align-items: center;
  }
  .menu-chiquito .md-sidenav-right {
    overflow-x: hidden;
    background-color: rgba(73,123,170,0.8);
  }
  .menu-chiquito .md-sidenav-right .cerrar {
    margin-top: 2vh;
    width: 100%;
    z-index: 1;
  }
  .menu-chiquito .md-sidenav-right .cerrar:focus {
    outline: 0px;
  }
  .menu-chiquito .md-sidenav-right .cerrar p {
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    margin-right: 8vw;
  }
  .menu-chiquito .md-sidenav-right .div {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu-chiquito .md-sidenav-right .div md-list md-list-item,
  .menu-chiquito .md-sidenav-right .div md-list .md-list-item-inner {
    display: flex;
    justify-content: center;
  }
  .menu-chiquito .md-sidenav-right .div md-list md-list-item h4,
  .menu-chiquito .md-sidenav-right .div md-list .md-list-item-inner h4 {
    font-size: 19px;
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin: 15px;
  }
}
.footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .footer .footer-content {
    flex-direction: column-reverse;
  }
}
@media (max-width: 1024px) {
  .footer .footer-content .navegacion {
    height: 0;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .footer .footer-content .navegacion .botones {
    display: none;
  }
}
.footer .footer-content .navegacion .botones .md-button {
  min-width: inherit;
  min-height: inherit;
  width: 80px;
  height: 30px;
}
.footer .footer-content .navegacion .botones .md-button span {
  font-size: 11px;
}
.footer .footer-content .navegacion .derechos {
  margin-top: 20px;
}
@media (max-width: 1024px) {
  .footer .footer-content .navegacion .derechos {
    margin-top: inherit;
  }
}
.footer .footer-content .navegacion .derechos p {
  font-size: 9px;
}
.footer .footer-content .forma-contactos {
  display: flex;
  flex-direction: row;
}
@media (max-width: 1024px) {
  .footer .footer-content .forma-contactos {
    justify-content: center;
  }
}
.footer .footer-content .forma-contactos md-icon {
  margin: 0;
  margin-top: 10px;
  font-size: inherit !important;
}
.footer .footer-content .forma-contactos p {
  margin: 0;
  margin-top: 10px;
  font-size: 11px;
}
.background-home {
  background-image: url("/img/intro.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
  position: absolute;
  top: 0;
}
.home-container {
  position: relative;
  min-height: 100vh;
}
.home-container .home-content {
  position: relative;
  margin: 10vh 7vw;
  min-height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container .home-content .titulo {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container .home-content .titulo h1 {
  font-size: 5vw;
  font-weight: 800;
  margin: 0;
  color: #fff;
}
@media (max-width: 1024px) {
  .home-container .home-content .titulo h1 {
    font-size: 32px;
  }
}
.background-nosotros {
  background-image: url("/img/fondoC.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
  position: absolute;
  top: 0;
}
.nosotros-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
.nosotros-container .imagen {
  width: 70%;
  height: 100%;
}
@media (max-width: 1024px) {
  .nosotros-container .imagen {
    display: none;
  }
}
.nosotros-container .imagen img {
  height: 100%;
}
.nosotros-container .titulo-izq {
  position: absolute;
  top: 12vh;
  left: 30vw;
}
@media (max-width: 1024px) {
  .nosotros-container .titulo-izq {
    left: 31vw;
  }
}
.nosotros-container .titulo-izq h2 {
  color: #fff;
  font-size: 12px;
  font-weight: 100;
}
.nosotros-container .titulo-izq h1 {
  color: #fff;
  margin: 0;
  font-size: 60px;
  font-weight: 600;
}
@media (max-width: 1024px) {
  .nosotros-container .titulo-izq h1 {
    font-size: 40px;
  }
}
.nosotros-container .nosotros-content {
  position: relative;
  margin: 10vh 10vw;
  min-height: 80vh;
  width: 80vw;
  display: flex;
  justify-content: center;
}
.nosotros-container .nosotros-content .nosotros-descripcion {
  margin-top: 8vh;
  width: 80%;
  text-align: justify;
}
@media (max-width: 1024px) {
  .nosotros-container .nosotros-content .nosotros-descripcion {
    margin-top: 20vh;
    width: 100%;
  }
}
.nosotros-container .nosotros-content .nosotros-descripcion h4 {
  color: #fff;
  font-size: 18px;
}
.nosotros-container .nosotros-content .nosotros-descripcion p {
  color: #fff;
  font-size: 16px;
}
@media (max-width: 1024px) {
  .nosotros-container .nosotros-content .nosotros-descripcion p {
    font-size: 14px;
  }
}
.background-servicios {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
}
.background-servicios img {
  width: 100%;
  height: 100%;
}
.cortina {
  height: 100%;
  width: 100%;
  background-position: center;
  position: absolute;
  top: 0;
  background-color: #000;
  opacity: 0.5;
}
.servicios-container {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.servicios-container .servicios-content {
  position: relative;
  min-height: 80vh;
  width: 80vw;
  display: flex;
}
.servicios-container .servicios-content .slider-container {
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1024px) {
  .servicios-container .servicios-content .slider-container {
    height: 45%;
  }
}
.servicios-container .servicios-content .slider-container .slider {
  width: 100%;
}
.servicios-container .servicios-content .slider-container .slider .slick-list {
  height: 340px !important;
}
.servicios-container .servicios-content .slider-container .slider .servicio {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.servicios-container .servicios-content .slider-container .slider .servicio h1 {
  text-align: center;
  color: #fff;
  font-size: 60px;
  margin: 0;
  font-weight: 800;
}
@media (max-width: 1024px) {
  .servicios-container .servicios-content .slider-container .slider .servicio h1 {
    font-size: 50px;
  }
}
.servicios-container .servicios-content .slider-container .slider .servicio .md-button {
  margin-left: 45%;
}
.servicios-container .servicios-content .slider-container .slider .servicio .md-button md-icon {
  color: #fff;
}
.servicios-container .servicios-content .slider-container .slider .servicio .md-button span {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  text-transform: capitalize;
}
.servicios-container .servicios-content .slider-container .slider .servicio:focus {
  outline: 0px;
}
.servicios-container .servicios-content .slider-container .slider .servicio .subservicios-dentro {
  display: flex;
  justify-content: center;
}
.servicios-container .servicios-content .slider-container .slider .servicio .subservicios-dentro .md-button {
  margin: 0px;
  min-height: 25px;
}
.servicios-container .servicios-content .slider-container .slider .servicio .subservicios-dentro md-list md-list-item {
  min-height: inherit !important;
  height: 25px;
}
.servicios-container .servicios-content .slider-container .slider .servicio .subservicios-dentro md-list md-list-item:hover p {
  margin: 0 20px;
}
.servicios-container .servicios-content .slider-container .slider .servicio .subservicios-dentro md-list md-list-item .md-list-item-text md-icon {
  color: #fff;
}
.servicios-container .servicios-content .slider-container .slider .servicio .subservicios-dentro md-list md-list-item .md-list-item-text p {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.servicios-container .servicios-content .slider-container .slider .servicio .subservicios-dentro md-list md-list-item .md-list-item-text:focus {
  outline: 0px;
}
.servicios-container .servicios-content .slider-container .navegacion {
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicios-container .servicios-content .slider-container .navegacion .cantidad {
  height: 20px;
  width: 50px;
  padding: 5px;
  color: #fff;
  font-size: 11px;
}
.servicios-container .servicios-content .slider-container .navegacion .linea-content {
  height: 4px;
  width: 100%;
  background-color: rgba(255,255,255,0.5);
}
.servicios-container .servicios-content .slider-container .navegacion .linea-content .linea {
  height: 4px;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
  background-color: #fff;
}
.servicios-container .servicios-content .slider-container .navegacion .flechas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 10px;
}
.servicios-container .servicios-content .slider-container .navegacion .flechas .md-button {
  margin: 0;
  min-width: 40px;
}
.servicios-container .servicios-content .slider-container .navegacion .flechas .md-button md-icon {
  transform: scale(1.2);
  color: #fff;
}
.servicios-container .servicios-content .subservicios-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.servicios-container .servicios-content .subservicios-container .subservicios-afuera {
  margin: 0;
}
.servicios-container .servicios-content .subservicios-container .subservicios-afuera md-list md-list-item .md-list-item-text {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.servicios-container .servicios-content .subservicios-container .subservicios-afuera md-list md-list-item .md-list-item-text md-icon {
  margin: 5px 0;
  color: #fff;
}
.servicios-container .servicios-content .subservicios-container .subservicios-afuera md-list md-list-item .md-list-item-text p {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}
.servicios-container .detalles-servicios {
  position: absolute;
  right: 0;
  width: 0%;
  height: 100%;
}
.servicios-container .detalles-servicios .cerrar {
  position: absolute;
  left: -23px;
  top: 57px;
  background-color: #0580ad;
  height: 30px;
  min-height: 30px;
  width: 30px;
}
.servicios-container .detalles-servicios .cerrar md-icon {
  font-size: 15px;
  min-height: 15px;
  min-width: 15px;
  height: 15px;
  width: 15px;
}
.servicios-container .detalles-servicios .subservicios-detalles {
  height: 90%;
  background-color: rgba(255,255,255,0.9);
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.servicios-container .detalles-servicios .subservicios-detalles .titulo-servicio {
  margin-top: 2vh;
}
@media (max-width: 1024px) {
  .servicios-container .detalles-servicios .subservicios-detalles .titulo-servicio {
    display: none;
  }
}
.servicios-container .detalles-servicios .subservicios-detalles .titulo-servicio h1 {
  color: #0580ad;
  font-size: 40px;
  font-weight: 800;
  margin: 0;
  margin-left: 15px;
}
.servicios-container .detalles-servicios .subservicios-detalles .titulo-servicio .md-button {
  background-color: #2c475a;
  width: 40px !important;
  height: 40px !important;
}
.servicios-container .detalles-servicios .subservicios-detalles .titulo-servicio .md-button md-icon {
  color: #fff;
}
.servicios-container .detalles-servicios .subservicios-detalles .titulo-servicio .descripcion {
  padding: 15px;
  text-align: justify;
}
.servicios-container .detalles-servicios .subservicios-detalles .titulo-servicio .descripcion p {
  font-weight: 100;
  font-size: 14px;
}
.servicios-container .detalles-servicios .subservicios-detalles md-divider {
  width: 100%;
}
.servicios-container .detalles-servicios .subservicios-detalles .titulo-subservicio {
  margin-top: 1vh;
}
.servicios-container .detalles-servicios .subservicios-detalles .titulo-subservicio h2 {
  text-align: center;
  margin: 0;
  color: #0580ad;
}
.servicios-container .detalles-servicios .subservicios-detalles .titulo-subservicio .descripcion {
  text-align: justify;
  padding: 15px;
  margin: 0;
}
.servicios-container .detalles-servicios .subservicios-detalles .titulo-subservicio .descripcion p {
  font-size: 14px;
  font-weight: 100;
}
.servicios-container .detalles-servicios .subservicios-detalles .elementos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.servicios-container .detalles-servicios .subservicios-detalles .elementos md-list md-list-item {
  min-height: inherit !important;
  height: 30px;
}
@media (max-width: 1024px) {
  .servicios-container .detalles-servicios .subservicios-detalles .elementos md-list md-list-item {
    height: 38px;
  }
}
.servicios-container .detalles-servicios .subservicios-detalles .elementos md-list md-list-item .md-list-item-text md-icon {
  color: #808080;
}
.servicios-container .detalles-servicios .subservicios-detalles .elementos md-list md-list-item .md-list-item-text p {
  margin: 0;
  color: #808080;
  font-weight: 800;
  font-size: 18px;
}
.servicios-container .detalles-servicios .subservicios-detalles .sliderSub-content {
  margin-top: 2vh;
  position: relative;
  width: 50%;
  height: 30%;
}
.servicios-container .detalles-servicios .subservicios-detalles .sliderSub-content .algo {
  width: 100%;
  height: 100%;
}
.servicios-container .detalles-servicios .subservicios-detalles .sliderSub-content .algo .slick-prev:before,
.servicios-container .detalles-servicios .subservicios-detalles .sliderSub-content .algo .slick-next:before {
  color: #0580ad;
}
.servicios-container .detalles-servicios .subservicios-detalles .sliderSub-content .algo .imagen {
  width: 23vw;
  height: 25vh;
}
.servicios-container .detalles-servicios .subservicios-detalles .sliderSub-content .algo .imagen img {
  height: 100%;
}
.background-proyectos {
  background-image: url("/img/fondoC.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
  position: absolute;
  top: 0;
}
.proyectos-container {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
.proyectos-container .proyectos-content {
  position: relative;
  margin: 10vh 10vw;
  min-height: 80vh;
  width: 80vw;
}
.proyectos-container .proyectos-content h1 {
  color: #fff;
  font-weight: 800;
  font-size: 50px;
  margin: 0;
}
.proyectos-container .proyectos-content .contenedor-pindividual {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
}
.proyectos-container .proyectos-content .contenedor-pindividual .subcontenedor {
  width: 100%;
}
.proyectos-container .proyectos-content .contenedor-pindividual .subcontenedor .proyectos .md-virtual-repeat-container {
  height: 60%;
}
.proyectos-container .proyectos-content .contenedor-pindividual .subcontenedor .proyectos .md-virtual-repeat-container .repeated-item .texto {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.proyectos-container .proyectos-content .contenedor-pindividual .subcontenedor .proyectos .md-virtual-repeat-container .repeated-item .texto:focus {
  outline: 0px;
}
.proyectos-container .proyectos-content .contenedor-pindividual .subcontenedor .proyectos .md-virtual-repeat-container .repeated-item .texto p {
  margin: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
}
.proyectos-container .proyectos-content .contenedor-pindividual .subcontenedor .proyectos .md-virtual-repeat-container .repeated-item .texto md-icon {
  color: #fff;
}
.proyectos-container .contenedor-secundario {
  width: 0%;
  height: 100%;
}
.proyectos-container .contenedor-secundario .imagen {
  position: relative;
  width: 100%;
  height: 40%;
}
.proyectos-container .contenedor-secundario .imagen img {
  height: 100%;
}
.proyectos-container .contenedor-secundario .imagen .botonCerrar {
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 1024px) {
  .proyectos-container .contenedor-secundario .imagen .botonCerrar {
    left: 0;
    right: inherit;
  }
}
.proyectos-container .contenedor-secundario .imagen .botonCerrar .md-button {
  background-color: #2c475a;
  height: 40px !important;
  width: 40px !important;
}
.proyectos-container .contenedor-secundario .imagen .botonCerrar .md-button md-icon {
  color: #fff;
}
.proyectos-container .contenedor-secundario .proyectos-info {
  margin-top: 10vh;
}
.proyectos-container .contenedor-secundario .proyectos-info .descripcion {
  text-align: justify;
  width: 80%;
}
.proyectos-container .contenedor-secundario .proyectos-info .descripcion p {
  color: #fff;
  font-size: 16px;
  font-weight: 100;
}
.proyectos-container .contenedor-secundario .proyectos-info .servicios md-list md-list-item .md-list-item-text md-icon {
  color: #fff;
}
.proyectos-container .contenedor-secundario .proyectos-info .servicios md-list md-list-item .md-list-item-text p {
  margin: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
}
.background-trabajadores {
  background-image: url("/img/fondoC.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
  position: absolute;
  top: 0;
}
.trabajadores-container {
  position: relative;
  min-height: 100vh;
}
.trabajadores-container .trabajadores-content {
  position: relative;
  margin: 10vh 10vw;
  min-height: 80vh;
  width: 80vw;
}
.trabajadores-container .trabajadores-content h1 {
  margin-top: 10vh;
  color: #fff;
  font-size: 30px;
}
.trabajadores-container .trabajadores-content .slider-content {
  position: relative;
  width: 100%;
  max-height: 80%;
}
.trabajadores-container .trabajadores-content .slider-content .slider {
  width: 100%;
  height: 100%;
}
.trabajadores-container .trabajadores-content .slider-content .slider .slick-list:focus {
  outline: 0px;
}
.trabajadores-container .trabajadores-content .slider-content .slider .trabajador:focus {
  outline: 0px;
}
.trabajadores-container .trabajadores-content .slider-content .slider .trabajador .contenedor {
  display: flex;
  flex-direction: row;
}
.trabajadores-container .trabajadores-content .slider-content .slider .trabajador .contenedor .parte-izq {
  width: 50%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .trabajadores-container .trabajadores-content .slider-content .slider .trabajador .contenedor .parte-izq {
    display: none;
  }
}
.trabajadores-container .trabajadores-content .slider-content .slider .trabajador .contenedor .parte-izq .descripcion {
  text-align: justify;
  width: 80%;
}
.trabajadores-container .trabajadores-content .slider-content .slider .trabajador .contenedor .parte-izq .descripcion p {
  color: #fff;
  font-size: 16px;
}
.trabajadores-container .trabajadores-content .slider-content .slider .trabajador .contenedor .parte-der {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .trabajadores-container .trabajadores-content .slider-content .slider .trabajador .contenedor .parte-der {
    width: 100%;
  }
}
.trabajadores-container .trabajadores-content .slider-content .slider .trabajador .contenedor .parte-der .titulo {
  text-align: right;
  display: flex;
  flex-direction: column;
}
.trabajadores-container .trabajadores-content .slider-content .slider .trabajador .contenedor .parte-der .titulo h3 {
  color: #fff;
  font-size: 25px;
  margin: 0;
}
.trabajadores-container .trabajadores-content .slider-content .slider .trabajador .contenedor .parte-der .titulo p {
  margin: 0;
  font-size: 18px;
  color: #fff;
}
.trabajadores-container .trabajadores-content .slider-content .slider .trabajador .contenedor .parte-der .imagen {
  margin-top: 3vh;
  width: 23vw;
  height: 50vh;
  display: flex;
  justify-content: center;
}
@media (max-width: 1024px) {
  .trabajadores-container .trabajadores-content .slider-content .slider .trabajador .contenedor .parte-der .imagen {
    width: 37vw;
  }
}
.trabajadores-container .trabajadores-content .slider-content .slider .trabajador .contenedor .parte-der .imagen img {
  height: 100%;
}
.contacto-container {
  position: relative;
  min-height: 100vh;
}
.contacto-container .contacto-content {
  position: relative;
  margin: 10vh 10vw;
  min-height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .contacto-container .contacto-content {
    flex-direction: column;
  }
}
.contacto-container .contacto-content .seccion-izquierda {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 90%;
}
@media (max-width: 1024px) {
  .contacto-container .contacto-content .seccion-izquierda {
    display: none;
  }
}
.contacto-container .contacto-content .seccion-izquierda .mapa {
  padding: 10px;
}
.contacto-container .contacto-content .seccion-izquierda .mapa ui-gmap-google-map .angular-google-map-container {
  height: 60%;
}
.contacto-container .contacto-content .seccion-derecha {
  margin-top: 8vh;
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1024px) {
  .contacto-container .contacto-content .seccion-derecha {
    width: 100%;
  }
}
.contacto-container .contacto-content .seccion-derecha .slider-content {
  width: 100%;
  height: 50%;
}
.contacto-container .contacto-content .seccion-derecha .slider-content .slider {
  width: 100%;
  height: 100%;
}
.contacto-container .contacto-content .seccion-derecha .slider-content .slider .contacto:focus {
  outline: 0px;
}
.contacto-container .contacto-content .seccion-derecha .slider-content .slider .contacto .titulo {
  text-align: center;
}
.contacto-container .contacto-content .seccion-derecha .slider-content .slider .contacto .titulo h1 {
  font-size: 25px;
  font-weight: 100;
}
.contacto-container .contacto-content .seccion-derecha .slider-content .slider .contacto .contenedor {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  margin-left: 2vw;
}
@media (max-width: 1024px) {
  .contacto-container .contacto-content .seccion-derecha .slider-content .slider .contacto .contenedor {
    flex-direction: column;
  }
}
.contacto-container .contacto-content .seccion-derecha .slider-content .slider .contacto .contenedor .contenedor-izq {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.contacto-container .contacto-content .seccion-derecha .slider-content .slider .contacto .contenedor .contenedor-izq .arquitectos h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}
.contacto-container .contacto-content .seccion-derecha .slider-content .slider .contacto .contenedor .contenedor-izq .direccion {
  margin-top: 2vh;
  width: 77%;
}
.contacto-container .contacto-content .seccion-derecha .slider-content .slider .contacto .contenedor .contenedor-izq .direccion p {
  font-size: 16px;
  font-weight: 100;
}
.contacto-container .contacto-content .seccion-derecha .slider-content .slider .contacto .contenedor .contenedor-der {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.contacto-container .contacto-content .seccion-derecha .slider-content .slider .contacto .contenedor .contenedor-der .telefonos p {
  font-size: 16px;
  margin: 0;
  font-weight: 100;
}
.contacto-container .contacto-content .seccion-derecha .slider-content .slider .contacto .contenedor .contenedor-der .correos {
  margin-top: 2vh;
}
.contacto-container .contacto-content .seccion-derecha .slider-content .slider .contacto .contenedor .contenedor-der .correos h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.contacto-container .contacto-content .seccion-derecha .slider-content .flechas {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contacto-container .contacto-content .seccion-derecha .slider-content .flechas .div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}
.contacto-container .contacto-content .seccion-derecha .slider-content .flechas .div .prev .md-button {
  margin: 0;
}
.contacto-container .contacto-content .seccion-derecha .slider-content .flechas .div .prev .md-button md-icon {
  color: #000;
}
.contacto-container .contacto-content .seccion-derecha .slider-content .flechas .div .next .md-button {
  margin: 0;
}
.contacto-container .contacto-content .seccion-derecha .slider-content .flechas .div .next .md-button md-icon {
  color: #000;
}
