mobile = "(max-width: 800px)"

transition(duracion, delay)
	-webkit-transition all duracion cubic-bezier(0.445, 0.050, 0.550, 0.950)
	transition all duracion cubic-bezier(0.445, 0.050, 0.550, 0.950)
	-webkit-transition-delay delay ease-in-out
	transition-delay delay ease-in-out

animation(animation, duration = 1s, delay = 0s)
	-webkit-animation animation duration cubic-bezier(0.445, 0.050, 0.550, 0.950)
	animation animation duration cubic-bezier(0.445, 0.050, 0.550, 0.950)
	-webkit-transition all duration ease-in-out
	-moz-transition all duration ease-in-out
	-o-transition all duration ease-in-out
	transition all duration ease-in-out
	-webkit-transition-delay delay ease-in-out
	transition-delay delay ease-in-out

*
	box-sizing border-box
	font-family Cabin


md-grid-list
	md-grid-tile
		background-repeat no-repeat
		background-size cover
		background-position center

	
.nav
	position fixed
	width 100%
	z-index 10
	.nav-content
		display flex
		flex-direction row
		.logo
			width 170px
			height 60px
			cursor pointer
			&:focus
				outline 0px
			img
				width 100%
				height 100%
		.menu
			width 80%
			display flex
			justify-content center
			align-items center
			.md-button
				min-width inherit
				min-height inherit
				width 80px
				height 30px
				span
					font-size 12px
					color white
					font-weight 800
.footer
	.footer-content
		display flex
		flex-direction row
		justify-content space-between
		.navegacion
			.botones
				.md-button
					min-width inherit
					min-height inherit
					width 80px
					height 30px
					span
						font-size 11px
			.derechos
				margin-top 20px
				p
					font-size 9px
					
		.forma-contactos
			display flex
			flex-direction row
			
			md-icon
				margin 0
				margin-top 10px
				font-size inherit !important
			p
				margin 0
				margin-top 10px
				font-size 11px
.background-home
	background-image url('/img/intro.png')
	background-repeat no-repeat
	background-size cover
	height 100%
	width 100%
	background-position center
	position absolute
	top 0
.home-container
	position relative
	min-height 100vh
	.home-content
		position relative
		margin 10vh 7vw
		min-height 80vh
		width 80vw
		display flex
		flex-direction column
		justify-content center
		align-items center
		.titulo
			width 100%
			display flex
			flex-direction column
			justify-content center
			align-items center
			h1
				font-size 80px
				font-weight 800
				margin 0
				color white
			
			
.nosotros-container
	position relative
	min-height 100vh
	.nosotros-content
		position relative
		margin 10vh 10vw
		min-height 80vh
		width 80vw
		
.servicios-container
	position relative
	min-height 100vh
	.servicios-content
		position relative
		margin 10vh 10vw
		min-height 80vh
		width 80vw
		
		
.trabajadores-container
	position relative
	min-height 100vh
	.trabajadores-content
		position relative
		margin 10vh 10vw
		min-height 80vh
		width 80vw
		
		
.proyectos-container
	position relative
	min-height 100vh
	.proyectos-content
		position relative
		margin 10vh 10vw
		min-height 80vh
		width 80vw
		
		
.trabajadores-container
	position relative
	min-height 100vh
	.trabajadores-content
		position relative
		margin 10vh 10vw
		min-height 80vh
		width 80vw
		
.contacto-container
	position relative
	min-height 100vh
	.contacto-content
		position relative
		margin 10vh 10vw
		min-height 80vh
		width 80vw
		