mobile = "(max-width: 900px)"
azul2 = #0580ad
.azul
	background-color #0580ad !important
	
transition(duracion, delay)
	-webkit-transition all duracion cubic-bezier(0.445, 0.050, 0.550, 0.950)
	transition all duracion cubic-bezier(0.445, 0.050, 0.550, 0.950)
	-webkit-transition-delay delay ease-in-out
	transition-delay delay ease-in-out

animation(animation, duration = 1s, delay = 0s)
	-webkit-animation animation duration cubic-bezier(0.445, 0.050, 0.550, 0.950)
	animation animation duration cubic-bezier(0.445, 0.050, 0.550, 0.950)
	-webkit-transition all duration ease-in-out
	-moz-transition all duration ease-in-out
	-o-transition all duration ease-in-out
	transition all duration ease-in-out
	-webkit-transition-delay delay ease-in-out
	transition-delay delay ease-in-out

*
	box-sizing border-box
	font-family Cabin


md-grid-list
	md-grid-tile
		background-repeat no-repeat
		background-size cover
		background-position center

	
.nav
	position fixed
	width 100%
	z-index 10
	.nav-content
		display flex
		flex-direction row
		.logo
			width 170px
			height 60px
			cursor pointer
			&:focus
				outline 0px
			img
				width 100%
				height 100%
		.menu
			width 80%
			display flex
			justify-content center
			align-items center
			.md-button
				min-width inherit
				min-height inherit
				width 80px
				height 30px
				span
					font-size 12px
					color white
					font-weight 800
.footer
	.footer-content
		display flex
		flex-direction row
		justify-content space-between
		.navegacion
			.botones
				.md-button
					min-width inherit
					min-height inherit
					width 80px
					height 30px
					span
						font-size 11px
			.derechos
				margin-top 20px
				p
					font-size 9px
					
		.forma-contactos
			display flex
			flex-direction row
			
			md-icon
				margin 0
				margin-top 10px
				font-size inherit !important
			p
				margin 0
				margin-top 10px
				font-size 11px
.background-home
	background-image url('/img/intro.png')
	background-repeat no-repeat
	background-size cover
	height 100%
	width 100%
	background-position center
	position absolute
	top 0
.home-container
	position relative
	min-height 100vh
	.home-content
		position relative
		margin 10vh 7vw
		min-height 80vh
		width 80vw
		display flex
		flex-direction column
		justify-content center
		align-items center
		.titulo
			width 100%
			display flex
			flex-direction column
			justify-content center
			align-items center
			h1
				font-size 80px
				font-weight 800
				margin 0
				color white
			

		

//-CSS DE NOSOTROS	

.background-nosotros
	background-image url('/img/fondoC.png')
	background-repeat no-repeat
	background-size cover
	height 100%
	width 100%
	background-position center
	position absolute
	top 0
.nosotros-container
	position relative
	min-height 100vh
	display flex
	flex-direction row
	.imagen
		width 70%
		height 100%
		img
			width 100%
			height 100%
	.titulo-izq
		position absolute
		top 12vh
		left 30vw
		h2 
			color white
			font-size 12px
			font-weight 100
		h1
			color white
			margin 0
			font-size 60px
			font-weight 600
	.nosotros-content
		position relative
		margin 10vh 10vw
		min-height 80vh
		width 80vw
		display flex
		justify-content center
		.nosotros-descripcion
			margin-top 8vh
			width 60%
			text-align justify
			p 
				color white
				font-size 16px
				
//-CSS DE SERVICIOS

.background-servicios
	background-image url('/img/servicio.png')
	background-repeat no-repeat
	background-size cover
	height 100%
	width 100%
	background-position center
	position absolute
	top 0
.servicios-container
	overflow-x hidden
	position relative
	min-height 100vh
	display flex
	flex-direction row
	.servicios-content
		position relative
		margin 10vh 10vw
		min-height 80vh
		width 80vw
		display flex
		align-items center
		justify-content space-between
		.slider-content
			width 45%
			height 30%
			.slider
				width 100%
				height 100%
				.servicio
					display flex
					flex-direction column
					justify-content center
					align-items center
					h1
						color white
						font-size 60px
						margin 0
						font-weight 800
					.md-button
						margin-left 45%
						md-icon
							color white
						span
							color white
							font-size 20px
							font-weight 100
							text-transform capitalize
					&:focus
						outline 0px
					.subservicios-dentro
						display flex
						justify-content flex-start
						height 30px
						md-list
							md-list-item
								.md-list-item-text
									md-icon
										color white
									p
										color white
										font-weight 400
										font-size 16px
										margin 0
									&:focus
										outline 0px
			.flechas
				display flex
				flex-direction row
				justify-content space-around
				align-items center
				.prev
					.md-button
						margin 0
						md-icon
							color white
						
				.next
					.md-button
						margin 0
						md-icon
							color white
		.subservicios-container
			.subservicios-afuera
				margin 0
				height 5%
				md-list
					md-list-item
						.md-list-item-text
							margin 0
							md-icon
								color white
							p
								color white
								font-weight 400
								font-size 18px
								margin 0
	.detalles-servicios
		position absolute
		right 0
		//border 2px solid white
		width 0%
		height 100%
		.contenedor
			.imagen
				width 100%
				height 35vh
				img
					width 100%
					height 100%
			.subservicios-detalles
				height 65%
				background-color rgba(255,255,255,0.6)
				overflow-y hidden
				display flex
				flex-direction column
				align-items center
				h1
					color azul2
					font-size 30px
					font-weight 600
					margin-top 5vh
					margin 0
				.elementos
					display flex
					flex-direction column
					justify-content flex-start
					width 100%
					margin-top 3vh
					md-list
						md-list-item
							min-height inherit !important
							height 25px
							.md-list-item-text
								md-icon
									color gray
								p
									margin 0
									color gray
									font-weight 800
									font-size 18px



//-CSS DE PROYECTOS
		
.background-proyectos
	background-image url('/img/fondoC.png')
	background-repeat no-repeat
	background-size cover
	height 100%
	width 100%
	background-position center
	position absolute
	top 0
.proyectos-container
	position relative
	min-height 100vh
	display flex
	flex-direction row
	.proyectos-content
		position relative
		margin 10vh 10vw
		min-height 80vh
		width 80vw
		h1
			color white
			font-weight 800
			font-size 50px
			margin 0
		.contenedor-pindividual
			margin-top 5vh
			display flex
			flex-direction row
			.subcontenedor
				.proyectos
					md-list
						.md-list-item-text
							md-icon
								color white
							p
								margin 0
								color white
								font-size 16px
								font-weight 100
				.proyectos-info
					margin-top 10vh
					.descripcion
						text-align justify
						width 100%
						p
							color white
							font-size 16px
							font-weight 100
					.servicios
						md-list
							md-list-item
								.md-list-item-text
									md-icon
										color white
									p
										margin 0
										color white
										font-size 16px
										font-weight 100
	.imagen
		width 0%
		height 100%
		img
			width 100%
			height 100%
		
		
//-CSS DE TRABAJADORES
.background-trabajadores
	background-image url('/img/fondoC.png')
	background-repeat no-repeat
	background-size cover
	height 100%
	width 100%
	background-position center
	position absolute
	top 0
.trabajadores-container
	position relative
	min-height 100vh
	.trabajadores-content
		position relative
		margin 10vh 10vw
		min-height 80vh
		width 80vw
		.slider-content
			position relative
			width 100%
			height 80%
			.slider
				width 100%
				height 100%
				.trabajador
					.contenedor
						display flex
						flex-direction row
						.parte-izq
							width 50%
							display flex
							flex-direction column
							align-items center
							h1
								margin-top 10vh
								color white
								font-size 30px
							.descripcion
								text-align justify
								width 80%
								p
									color white
									font-size 16px
						.parte-der
							width 50%
							display flex
							flex-direction column
							justify-content center
							align-items center
							.titulo
								margin-top 10vh
								text-align right
								display flex
								flex-direction column
								h3
									color white
									font-size 25px
									margin 0
								p
									margin 0
									font-size 18px
									color white
							.imagen
								margin-top 3vh
								width 25vw
								height 50vh
								img
									width 100%
									height 100%

//-CSS DE CONTACTO

.contacto-container
	position relative
	min-height 100vh
	.contacto-content
		position relative
		margin 10vh 10vw
		min-height 80vh
		width 80vw
		display flex
		flex-direction row
		justify-content center
		align-items center
		.seccion-izquierda
			width 50%
			height 80%
		.seccion-derecha
			width 50%
			height 80%
			display flex
			flex-direction column
			.titulo
				margin-top 10vh
				h1
					font-size 25px
					font-weight 100
			.contenedor
				display flex
				flex-direction row
				margin-top 10vh
				.contenedor-izq
					display flex
					flex-direction column
					width 50%
					.arquitectos
						h2
							margin 0
							font-size 16px
							font-weight 400
					.direccion
						margin-top 2vh
						width 77%			
						p
							font-size 16px
							font-weight 100
				.contenedor-der
					display flex
					flex-direction column
					width 50%
					.telefonos
						p
							font-size 16px
							margin 0
							font-weight 100
					.correos
						margin-top 2vh
						h2
							font-size 18px
							font-weight 600
							margin 0