* {
  box-sizing: border-box;
  font-family: Cabin;
}
md-grid-list md-grid-tile {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main {
  position: relative;
  min-height: 100vh;
  width: 100%;
}
.nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #008000;
}
.nav .nav-content {
  display: flex;
  flex-direction: row;
}
.nav .nav-content .logo {
  cursor: pointer;
}
.nav .nav-content .logo:focus {
  outline: 0px;
}
.nav .nav-content .menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .nav-content .menu .md-button {
  min-width: inherit;
  min-height: inherit;
  width: 80px;
  height: 30px;
}
.nav .nav-content .menu .md-button span {
  font-size: 12px;
}
.footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer .footer-content .navegacion .botones .md-button {
  min-width: inherit;
  min-height: inherit;
  width: 80px;
  height: 30px;
}
.footer .footer-content .navegacion .botones .md-button span {
  font-size: 11px;
}
.footer .footer-content .navegacion .derechos {
  margin-top: 20px;
}
.footer .footer-content .navegacion .derechos p {
  font-size: 9px;
}
.footer .footer-content .forma-contactos {
  display: flex;
  flex-direction: row;
}
.footer .footer-content .forma-contactos md-icon {
  margin: 0;
  margin-top: 10px;
  font-size: inherit !important;
}
.footer .footer-content .forma-contactos p {
  margin: 0;
  margin-top: 10px;
  font-size: 11px;
}
