.proyecto
	md-card.proyecto-content
		md-toolbar
			.md-toolbar-tools
				h4 Información Básica
				span(flex)
				md-button(ng-click="ctrl.proyecto.habilitarEdicion()")
					md-icon(ng-show="!ctrl.infomuestra") edit
					md-icon(ng-show="ctrl.infomuestra") clear
		md-card-content
			.AntesEdicion(ng-show= "!ctrl.infomuestra")
				h1 Nombre:
				h3 {{ctrl.proyecto.item.nombre}}
				md-divider
				h1 Descripcion:
				.infoBasica-content(ng-bind-html="ctrl.proyecto.item.descripcion")
			.DespuesEdicion(ng-show= "ctrl.infomuestra")
				form.proyecto-form(ng-submit="ctrl.proyecto.editarProyecto(ctrl.proyecto.item)" layout="column")
					.info(layout="row" layout-align="space-between center")
						md-input-container(flex)
							md-icon(md-colors="{color: 'blue'}")  &#xE873;
							label Nombre del Proyecto
							input(ng-model="ctrl.proyecto.item.nombre")
					.descripcion-container
						.titulo(layout="row")
							md-icon(md-colors="{color: 'blue'}") &#xe22b;
							p Descripción del Proyecto
						text-angular(ng-model="ctrl.proyecto.item.descripcion")
					md-button.proyecto.info(type="submit")
						md-icon save
	md-card.servicios-container
			md-toolbar
				.md-toolbar-tools
					h4 Servicios
			md-card-content
				.servicios-content
					form(ng-submit="ctrl.servicios.agregarServicio(servicio)" layout="row")
						md-select(ng-model="servicio" placeholder="Selecciona un servicio" required flex)
							md-option(ng-value="servicio" ng-repeat="servicio in ctrl.servicios.items") {{servicio.nombre}}
						md-button(type="submit")
							md-icon add
				md-virtual-repeat-container#vertical-container
					.repeated-item(layout="row" md-virtual-repeat='servicio in ctrl.servicios.agregados' flex)
						.texto(flex)
							strong {{servicio.nombre}}
						.botones-container(layout-align="end end")
							md-button.md-fab.botones(md-colors="{background: 'green'}" ng-click="ctrl.servicios.mandarAservicio(servicio)")
								md-icon visibility
							md-button.md-fab.botones(md-colors="{background: 'red'}" ng-click="ctrl.servicios.eliminarServicio($index, servicio.id)")
								md-icon delete
md-card.imagenes-proyecto
	md-toolbar
		.md-toolbar-tools
			h4 Imagenes del Proyecto
	md-card-content
		.contenedor(layout="row")
			form(ng-submit="ctrl.imagenes.guardarImagen(imagen)" flex ="50")
				.imagen-container(layout-align="center center")
					.dropify-container(ng-init="Dropify()" flex)
						input.dropify(type="file" data-default-file="Imagen del Proyecto" ng-model="imagen" base-sixty-four-input maxsize="54836" data-max-file-size="9000K" accept="image/*" style="padding:0px;")
				md-button.imagen-button(type="submit" md-colors="{background: 'green'}" flex)
					md-icon save
			md-grid-list(md-cols="4" md-cols-sm="1" md-cols-xs="1" md-row-height="1:1" flex ="50")
				md-grid-tile(md-colspan="1" md-rowspan="1" ng-repeat="imagen in ctrl.imagenes.items" style="background-image:url({{imagen.imagen}})")
					md-grid-tile-footer(layout-align="center center")
						md-button(ng-click="ctrl.imagenes.eliminarImagen(imagen.id,$index)")
							md-icon delete