.subservicio
	md-card.subservicio-content(flex="50")
		md-toolbar
			.md-toolbar-tools
				h4 Información Básica
				span(flex)
				md-button(ng-click="ctrl.subservicio.habilitarEdicion()")
					md-icon(ng-show="!ctrl.infomuestra") edit
					md-icon(ng-show="ctrl.infomuestra") clear
		md-card-content
			.AntesEdicion(ng-show= "!ctrl.infomuestra")
				h1 Nombre:
				h3 {{ctrl.subservicio.item.nombre}}
				md-divider
				h1 Descripcion:
				.infoBasica-content(ng-bind-html="ctrl.subservicio.item.descripcion")
			.DespuesEdicion(ng-show= "ctrl.infomuestra")
				form.subservicio-form(ng-submit="ctrl.subservicio.editarSubservicio(ctrl.subservicio.item)" layout="column")
					.info(layout="row" layout-xs="column" layout-align="space-between center")
						md-input-container(flex)
							md-icon(md-colors="{color: 'blue'}")  &#xE873;
							label Nombre del Servicio
							input(ng-model="ctrl.subservicio.item.nombre")
					.descripcion-container
						.titulo(layout="row")
							md-icon(md-colors="{color: 'blue'}") &#xe22b;
							p Descripción del Servicio
						text-angular(ng-model="ctrl.subservicio.item.descripcion")
					md-button.subservicio.info(type="submit")
						md-icon save
	md-card.elementos-container(flex="50")
			md-toolbar
				.md-toolbar-tools
					h4 Elementos del Subservicio
					span(flex)
					md-button(ng-click="ctrl.elementos.habilitarEdicion()")
						md-icon(ng-show="!ctrl.infomuestraItems") add
						md-icon(ng-show="ctrl.infomuestraItems") clear
			md-card-content
				.elementos-content(ng-show="ctrl.infomuestraItems")
					form(ng-submit="ctrl.elementos.crear(elemento)" layout="row")
						md-input-container(flex)
							md-icon(md-colors="{color: 'blue'}")  &#xE873;
							label Nombre
							input(ng-model="elemento.nombre")
						md-button(type="submit")
							md-icon add
				md-virtual-repeat-container#vertical-container
					.repeated-item(layout="row" md-virtual-repeat='elemento in ctrl.elementos.items' flex)
						.texto(flex)
							strong {{elemento.nombre}}
						.botones-container(layout-align="end end")
							md-button.md-fab.botones(md-colors="{background: 'red'}" ng-click="ctrl.elementos.eliminarElemento($index, elemento)")
								md-icon delete
md-card.imagenes-subservicio
	md-toolbar
		.md-toolbar-tools
			h4 Imagenes
	md-card-content
		.contenedor(layout="row")
			form(ng-submit="ctrl.imagenes.guardarImagen(imagen)" flex ="50")
				.imagen-container(layout-align="center center")
					.dropify-container(ng-init="Dropify()" flex)
						input.dropify(type="file" data-default-file="Imagen del Subservicio" ng-model="imagen" base-sixty-four-input maxsize="54836" data-max-file-size="9000K" accept="image/*" style="padding:0px;")
				md-button.imagen-button(type="submit" md-colors="{background: 'green'}" flex)
					md-icon save
			md-grid-list(md-cols="4" md-row-height="1:1" flex ="50")
				md-grid-tile(md-colspan="1" md-rowspan="1" ng-repeat="imagen in ctrl.imagenes.items" style="background-image:url({{imagen.imagen}})")
					md-grid-tile-footer(layout-align="center center")
						md-button(ng-click="ctrl.imagenes.eliminarImagen(imagen.id,$index)")
							md-icon delete
			