.clientes-container
	h1 Clientes
	md-grid-list.clientes(md-cols="8" md-row-height="75px" md-gutter="50px")
		md-grid-tile(md-rowspan="2" md-colspan="2")
			.cliente
				img(src="img/clientes/pemex.jpg")
		md-grid-tile(md-rowspan="2" md-colspan="2")
			.cliente
				img(src="img/clientes/pdvsa.jpg")
		md-grid-tile(md-rowspan="2" md-colspan="2")
			.cliente
				img(src="img/clientes/tamaulipas.png")
		md-grid-tile(md-rowspan="2" md-colspan="2")
			.cliente
				img(src="img/clientes/evya.png")
		md-grid-tile(md-rowspan="2" md-colspan="2")
			.cliente
				img(src="img/clientes/veritas.png")
		md-grid-tile(md-rowspan="2" md-colspan="2")
			.cliente
				img(src="img/clientes/upch.jpg")
		md-grid-tile(md-rowspan="2" md-colspan="2")
			.cliente
				img(src="img/clientes/laventa.jpg")
