.contacto-container
	.contacto-content
		.seccion-izquierda
			.mapa
				ui-gmap-google-map(center='map.center' zoom='map.zoom' options="options" flex)
					ui-gmap-marker(coords="marker.coordenadas" idkey="$index" ng-repeat="marker in markers")
		.seccion-derecha
			.slider-content
				.slider(layout="row" flex)
					.contacto(ng-repeat='contacto in ctrl.contactos')
						.titulo
							h1 {{contacto.nombre}}
						.contenedor
							.contenedor-izq
								.arquitectos
									h2 {{contacto.arquitecto1}}
									h2 {{contacto.arquitecto2}}
								.direccion
									p {{contacto.domicilio}}
							.contenedor-der
								.telefonos
									p {{contacto.tel1}}
									p {{contacto.tel2}}
									p {{contacto.tel3}}
								.correos
									h2 {{contacto.email1}}
									h2 {{contacto.email2}}
				.flechas
					.div
						.prev
							md-button
								md-icon keyboard_arrow_left
						.next
							md-button
								md-icon keyboard_arrow_right