.contacto-container
	.contacto-content
		.seccion-izquierda
			.mapa
				p *AQUI VA EL MAPA*
		.seccion-derecha
			.titulo
				h1 Oficinas Boca del Rio
			.direcciones
				h2 Arq. Jocelyn J. Chávez Hernández.
				h2 Arq. Héctor Escobar Romero.
				p Domicilio: Calle Rio Jamapa No.1036 B Col: Las vegas II, C.P. 94297,Boca del Rio, Veracruz
			.telefonos
				p Tel:(229)286 20 03
				p Cel1: 229 392 38 22
				p Cel2: 229 950 04 05
				h2 email: arq.jocelynjchn@outlook.com
				h2 email: arq.hectorescrome@gmail.com