.background-home
.home-container
	.home-content
		.titulo#1
			h1 PROYECTAMOS 
			h1(style="margin-left: 30%") TUS SUEÑOS
		.titulo#2
			h1 CONSTRUÍMOS 
			h1(style="margin-left: 30%") TUS PROYECTOS
		.titulo#3
			h1 SUPERVÍSAMOS 
			h1(style="margin-left: 30%") SU CONSTRUCCIÓN
		.titulo#4
			h1 VIGILAMOS 
			h1(style="margin-left: 30%") TUS ÍNTERESES
			
