.background-nosotros
.nosotros-container
	.imagen
		img(src="img/nosotros.png")
	.titulo-izq
		h2 GRUPO JESSEM
		h1 Nosotros
	.nosotros-content
			.nosotros-descripcion
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolor, doloremque modi consequuntur dicta ab, provident labore adipisci quidem natus ex blanditiis iusto itaque quo cum incidunt. Vitae, saepe, expedita.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolor, doloremque modi consequuntur dicta ab, provident labore adipisci quidem natus ex blanditiis iusto itaque quo cum incidunt. Vitae, saepe, expedita.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolor, doloremque modi consequuntur dicta ab, provident labore adipisci quidem natus ex blanditiis iusto itaque quo cum incidunt. Vitae, saepe, expedita.Lorem ipsum dolor sit amet, consectetur adipisicing elit.