.background-nosotros
.nosotros-container
	.imagen
		img(src="img/nosotros.png")
	.titulo-izq
		h2 GRUPO JESSEM
		h1 Nosotros
	.nosotros-content
			.nosotros-descripcion
				p Es una empresa mexicana, constituida en el año 2005, con una amplia experiencia en la ejecución de proyectos y servicios.
				p La compañía fue creada para tener la flexibilidad requerida y ejecutar todo tipo de trabajos, ante la inminente entrada de la globalización. 
				p Para continuar con el desarrollo de la misma , ha formado sociedades de participación con las  empresas, SLC (Proyectos Industriales), Bureau Veritas, entre otras, y actualmente a incluido los servicios de inspección y certificación, así como la inclusión de su nueva división de desarrollo de proyectos arquitectónicos vacacionales y habitacionales. 
				H4 MISIÓN
				p Alcanzar el liderazgo en la prestación de nuestros servicios y permanecer de manera constante en nuestro sector como empresa líder. 
				H4 VISIÓN
				p Brindar la satisfacción total de las necesidades y requerimientos de nuestros clientes a través de nuestra calidad y en estricto apego a la salud, medio ambiente y respeto social, dando con ello un valor agregado a sus necesidades.
