.background-servicios
	img(src="{{ctrl.servicios.item.imagenes[0].imagen}}")
.servicios-container
	.servicios-content(layout="row")
		.slider-content
			.slider(layout="row" flex)
				.servicio(ng-repeat='servicio in ctrl.servicios.items')
					h1 {{servicio.nombre}}
					md-button(ng-click="ctrl.muestra = !ctrl.muestra" )
						md-icon remove
						span(ng-show="!ctrl.muestra") Ver mas
						span(ng-show="ctrl.muestra") Cerrar
					.subservicios-dentro(ng-repeat="subservicio in ctrl.servicios.item.subservicios" ng-show="ctrl.muestra")
						md-list
							md-list-item
								.md-list-item-text(layout="row" ng-click="ctrl.servicios.abrirDetalles(subservicio)")
									md-icon remove
									p {{subservicio.nombre}}
			.flechas
				.prev
					md-button
						md-icon keyboard_arrow_left
				.next
					md-button
						md-icon keyboard_arrow_right
		.subservicios-container(layout="column" ng-show="ctrl.muestra2")
			.subservicios-afuera(ng-repeat="subservicio in ctrl.servicios.item.subservicios")
				md-list
					md-list-item
						.md-list-item-text(layout="row")
							md-icon remove
							p {{subservicio.nombre}}
	.detalles-servicios(ng-show="!ctrl.muestra2")
		.subservicios-detalles
			.titulo-servicio
				.div(layout="row")
					h1 {{ctrl.servicios.item.nombre}}
					span(flex)
					md-button.md-fab(ng-click="ctrl.servicios.cerrar()")
						md-icon clear
				.descripcion(ng-bind-html="ctrl.servicios.item.descripcion")
			md-divider
			.titulo-subservicio
				h2 {{ctrl.subservicio.nombre}}
				.descripcion(ng-bind-html="ctrl.subservicio.descripcion")
			.elementos
				md-list
					md-list-item(ng-repeat="elemento in ctrl.subservicio.elementos")
						.md-list-item-text(layout="row")
							md-icon remove
							p {{elemento.nombre}}
			.sliderSub-content
				.algo(layout="row" flex)
					.imagen(ng-repeat='imagen in ctrl.subservicio.imagenes')
						.imagen
							img(src="{{imagen.imagen}}")